<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <% if user_signed_in? %>
                <a class="brand" href="/">phone-home</a>

                <ul class="nav pull-right">
                    <li><%= link_to '<i class="icon-signout"></i> Sign out'.html_safe, destroy_user_session_path, method: :delete %></li>
                </ul>
            <% else %>
                <a class="brand brand-center" href="/">phone-home</a>
            <% end %>
        </div>
    </div>
</div>